{% extends '@TigrisBase/layout.html.twig' %}

{% block metadata %}
{% if entity.nofollow %}
<meta name="robots" content="none" />
{% endif %}
<meta property="og:title" content="{{ entity.name }}" />
<meta property="og:url" content="{{ absolute_url(path('tigris_content_page_show', {'slug':entity.slug})) }}" />
{% endblock %}

{% block title %}
{{ entity.name|parse_icons|striptags }} - {{ parent() }}
{% endblock %}

{% block body %}
<div class="page-content" {% if edit %}data-edit{% endif %}>

{% if edit %}
{% set data = entity.data|json_encode %}
{% if data == "[]" %}
{% set data = "{}" %}
{% endif %}
<tigris-content-editor id="content-editor" route="tigris_content_admin_page_save" :element-id.number="{{ entity.id }}" :data="{{ data }}" v-slot="{content}">
<div>
{% endif %}

{{ parent() }}

{% if edit %}

</div>

</tigris-content-editor>
{% endif %}
</div>
{% endblock %}

{% block main %}
{% block page_content %}
{% endblock %}
{% endblock %}