{% extends '@TigrisContent/page/show.html.twig' %}
{% block main %}

    {% embed '@TigrisContent/widget/_widget.html.twig' with {'name': 'mainText', 'type': 'text', 'data': entity.getData('mainText')} %}
    {% endembed %}
{% endblock %} 