{% extends '@TigrisContent/page/show.html.twig' %}
{% block main %}
    <div class="row">
        <div class="col-6">
            {% embed '@TigrisContent/widget/_widget.html.twig' with {'name': 'mainText', 'type': 'text', 'data': entity.getData('mainText')} %}
            {% endembed %}
        </div>
        <div class="col-6">
            {% embed '@TigrisContent/widget/_widget.html.twig' with {'name': 'secondText', 'type': 'text', 'data': entity.getData('secondText')} %}
            {% endembed %}
        </div>
    </div>
{% endblock %} 