{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/ajax-layout.html.twig'
    : '@TigrisBase/layout.html.twig' %}

{% block main %}
{% for element in elements %}
{% include templates[element.type] with {'entity': element} %}
{% endfor %}
{% if nbPages > 1 %}
{% include '@TigrisBase/decorators/_pagination.html.twig' with {'pages': nbPages, 'route': 'tigris_content_category_show', 'routeParams': {'slug': entity.slug}} %}
{% endif %}
{% endblock %}