<div class="list">
{% block main %}
{% for entity in entities %}
{% block element %}
{{ entity.name }}
{% endblock %}
{% endfor %}

{% include '@TigrisBase/decorators/_pagination.html.twig' %}
{% endblock %}
</div>