{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/ajax-layout.html.twig'
        : '@TigrisBase/layout.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block main %}
{% block page_title %}<h1>{{ (entity.type ~ '.edit.edit')|trans }}</h1>{% endblock %}
{% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
{% endembed %}
{% endblock %}