{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/ajax-layout.html.twig'
        : '@TigrisBase/layout.html.twig' %}

{% block title %}{{ ("content.element.type." ~ type)|trans }} {{ parent() }} {% endblock %}

{% block main %}
<div class="list">
{% block content %}
{% for entity in entities %}
{% block element %}
{% endblock %}
{% endfor %}
{% endblock %}
</div>

{% endblock %}