<article>

{% embed "@TigrisBase/decorators/_card.html.twig" %}
    {% block header %}
        <a href="{{ path('tigris_content_element_show', {'type' : entity.type, 'slug' : entity.slug}) }}">{{ entity.name }}</a>
        {% if is_granted('edit', entity) %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('tigris_content_admin_element_edit', {'id' : entity.id})}}" class="btn btn-light float-right">{{ '.icon-pencil-alt'|parse_icons }}</a>
        {% else %}
            <a href="{{ path('tigris_content_element_edit', {'id' : entity.id})}}" class="btn btn-light float-right">{{ '.icon-pencil-alt'|parse_icons }}</a>
        {% endif %}       
        {% endif %}
    {% endblock %}

    {% block body %}
    {% if entity.image is not empty %}<img src="{{ asset(entity.image.webPath) }}" />{% endif %}
        {{ entity.content|raw }}
        {% if bundle_exists('TigrisSocialBundle') and socialTools[entity.id] is defined  %}
        {% include '@TigrisSocial/reaction/_buttons.html.twig' ignore missing with {'social' : socialTools[entity.id], 'entityId': entity.id, 'entityName': entity.className} %}
        {% endif %}
    {% endblock %}
{% endembed %}
</article>