{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/ajax-layout.html.twig'
        : '@TigrisBase/layout.html.twig' %}

{% block title %}{{ entity.name }} - {{ parent() }} {% endblock %}

{% block main %}
<div class="element {{ entity.type }}" id="{{ entity.type }}-{{ entity.slug }}">

{% if edit %}
<tigris-content-editor id="content-editor" route="tigris_content_admin_element_save" :element-id.number="{{ entity.id }}" :data="{{ entity.simpleData|json_encode }}" v-slot="{content}">
<div>
<div class="wysiwyg-toolbar">   
</div>
{% endif %}
<div class="clearfix">
{% block element_content %}
{% endblock %}
</div>
{% if edit %}
</div>
</tigris-content-editor>
{% endif %}
</div>
{% endblock %}