{% extends app.request.xmlHttpRequest 
         ? '@TigrisBase/admin/ajax-layout.html.twig'
         : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'content.category.edit.edit'|trans }}{% endblock %}
    {% endembed %}
{% endblock %}