{% extends app.request.xmlHttpRequest 
         ? '@TigrisBase/admin/ajax-layout.html.twig'
         : '@TigrisBase/admin/layout.html.twig' %}

{% block title %}{{ 'content.category.list'|trans }}{% endblock %}
{% block main %}
<tigris-data-list route="tigris_content_admin_category_list" :init-filters='{"search":"", "type":"", "public":1}' sortable="tigris_content_admin_category_sort" v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block header %}
    <button-action v-on:formsaved="loadData()" route="tigris_content_admin_category_new" :modal="true" :route-params="{}" type="success">
        <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'content.category.add.add'|trans }}
    </button-action>

    <button-action v-on:formsaved="loadData()" route="tigris_content_admin_category_sort" :modal="true" :route-params="{}" type="info">
        <span class="btn-label">{{ '.icon-sort'|parse_icons }}</span> {{ 'content.category.sort.title'|trans }}
    </button-action>
    {% endblock %}
    {% block body %}
    <form action="" method="get" class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <div class="form-group">
                <label class="form-label"><small>{{ 'content.category.type'|trans }}</small></label>
                <select class="form-control" v-model="filters.type">
                    <option value="">{{ 'content.element.type.all'|trans }}</option>
                    {% for key, type in types %}
                    <option value="{{ key }}">{{ type.name|trans }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group ms-2">
                <label class="form-label"><small>{{ 'content.category.status.label'|trans }}</small></label>
                <select class="form-control" v-model="filters.public">
                    <option value="">{{ 'content.category.status.all'|trans }}</option>
                    <option value="1">{{ 'content.category.status.public'|trans }}</option>
                    <option value="0">{{ 'content.category.status.non_public'|trans }}</option>
                </select>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label><small>{{ 'results_per_page'|trans }}</small></label>
                <item-count-select></item-count-select>
            </div>
        </div>
    </form>
    
    {% endblock %}
    {% block table %}
        <table class="table table-striped">
            <thead>
                <tr>
                    {#<th><sort-item label="{{ 'name'|trans }}" value="name" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'content.category.status.public'|trans }}" value="public" v-on:change="sort"></sort-item></th>#}
                    <th>{{ 'name'|trans }}</th>
                    <th>{{ 'content.category.status.public'|trans }}</th>
                    <th>{{ 'content.category.types'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody class="">
                <tr v-for="entity in entities" :key="entity.id" :class="{'table-primary':entity.super_admin}" :data-id="entity.id">
                    <td>${ entity.treeName }</td>
                    <td class="text-light" :class="{'bg-success': entity.public, 'bg-warning': !entity.public}">
                        <span v-if="!entity.public">{{ 'no'|trans }}</span>
                        <span v-if="entity.public">{{ 'yes'|trans }}</span>
                    </td>
                    <td>
                        <span class="badge bg-secondary me-2" v-for="type in entity.typesLabels">${type}</span>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button-action v-on:formsaved="loadData()" route="tigris_content_category_show_id" :modal="false" :route-params="{id:entity.id}" type="info" target="_blank" title="{{ 'button.show'|trans }}">{{ '.icon-eye'|parse_icons }}</button-action>
                            <button-action v-on:formsaved="loadData()" route="tigris_content_admin_category_edit" :modal="true" :route-params="{id:entity.id}" type="secondary" title="{{ 'button.edit'|trans }}">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                            <button-action v-on:formsaved="loadData()" route="tigris_content_admin_category_remove" :modal="true" :route-params="{id:entity.id}" type="danger" v-if="!entity.public" title="{{ 'button.delete'|trans }}">{{ '.icon-trash'|parse_icons }}</button-action>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endblock %}
    {% block footer %}
    <div class="data-list-footer">
        <div><em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em></div>
        <pagination></pagination>
    </div>
    {% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}