{% extends (embeded ? "@TigrisContent/element/_list.html.twig" : "@TigrisContent/element/list.html.twig") %}

{% block element %}

{% include "@TigrisContent/element/preview.html.twig" %}

{% endblock %}