{% extends "@TigrisContent/element/show.html.twig" %}

{% block element_content %}

<h1>{{ entity.name }} </h1>
<small>
{% if entity.user is not empty %}
{{ "element.by_at"|trans({"%at%":entity.publishedAt|format_datetime("full", "short"), "%by%":entity.user.username}) }}
{% else %}
{{ "element.at"|trans({"%at%":entity.publishedAt|format_datetime("full", "short")}) }}
{% endif %}
</small>
<div>
{% embed '@TigrisContent/widget/_widget.html.twig' with {'name': 'content', 'type': 'text', 'data': entity.getData('content')} %}
{% endembed %}
</div>
{% endblock %}