{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': 'mt-3'} %}
{% block header %}
<a href="{{ path('tigris_content_element_show', {'type' : entity.type, 'slug' : entity.slug}) }}">{{ entity.name }}</a>
{% endblock %}

{% block body %}
{{ entity.data.content|raw }}
{% endblock %}

{% block footer %}
<small>
{% if entity.user is not empty %}
{{ "element.by_at"|trans({"%at%":entity.createdAt|format_datetime("full", "short"), "%by%":entity.user.username}) }}
{% else %}
{{ "element.at"|trans({"%at%":entity.createdAt|format_datetime("full", "short")}) }}
{% endif %}
</small>
{% endblock %}
{% endembed %}