<div class="btn-group btn-group-sm">
    <button-action v-on:formsaved="loadData()" route="tigris_content_element_show_id" :route-params="{id:entity.id, type:entity.type}" type="primary" target="_blank" title="{{ 'button.show'|trans }}">{{ '.icon-eye'|parse_icons }}</button-action>
    {% if allowTranslate %}
    <div class="dropdown">
        <button class="btn btn-light btn-sm" type="button" :id="'activity-option-' + entity.id" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ 'content.element.translate.label'|trans }}">
            {{ '.icon-flag'|parse_icons }}
        </button>
        <div class="dropdown-menu" :aria-labelledby="'activity-option-' + entity.id">
            <div><h6 class="dropdown-header">{{ 'content.element.translate.label'|trans }}</h6></div>
            {% for locale in locales %}
                {% if locale != currentLocale %}
                <button-action route="tigris_content_admin_element_translate" :route-params="{id: entity.id, locale: '{{ locale }}' }" class="dropdown-item" :modal="false">{{ ('locale.' ~ locale)|trans }}</button-action>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <button-action v-on:formsaved="loadData()" route="tigris_content_admin_element_edit" :route-params="{id:entity.id}" type="light" title="{{ 'button.edit'|trans }}">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
    <button-action v-on:formsaved="loadData()" route="tigris_content_admin_element_remove" :modal="true" :route-params="{id:entity.id}" type="danger" v-if="!entity.public" title="{{ 'button.delete'|trans }}">{{ '.icon-trash'|parse_icons }}</button-action>
</div>