{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'content.element.edit.edit'|trans }}{% endblock %}
{% block main %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-9">
            {% embed '@TigrisBase/decorators/_card.html.twig' %}
            {% block body %}
            {{ form_row(form.name) }}
            {{ form_row(form.data) }}
            {% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-3">
            {% embed '@TigrisBase/decorators/_card.html.twig' %}
                {% block header %}{{ 'content.element.publication'|trans|parse_icons }}{% endblock %}
                {% block body %}
                {{ form_row(form.public) }} 
                {% if form.draft is defined %}
                {{ form_row(form.draft) }} 
                {% endif %}
                {% if form.publishedAt is defined %}
                {{ form_row(form.publishedAt) }} 
                {% endif %}
                {% if form.unpublishedAt is defined %}
                {{ form_row(form.unpublishedAt) }} 
                {% endif %}
                {% endblock %}
            {% endembed %}

            {% if form.categories is defined %}
            {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': 'mt-2'} %}
                {% block header %}{{ 'content.element.categories_label'|trans|parse_icons }}{% endblock %}
                {% block body %}
                {{ form_row(form.categories) }} 
                {% endblock %}
            {% endembed %}
            {% endif %} 

            {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': 'mt-2'} %}
                {% block body %}
                {{ form_widget(form.actions) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}