{% extends app.request.xmlHttpRequest 
         ? '@TigrisBase/admin/ajax-layout.html.twig'
         : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block header %}
    <div class="lead">{{ 'content.element.add.add'|trans }}</div>
    {% endblock %}
    {% block body %}
    <div class="list-group">
        {% for key, type in types %}
            <a class="list-group-item list-group-item-action" href="{{ path('tigris_content_admin_element_new', {'type': key}) }}"><b>{{ type.name|trans }}</b><br/>
                {{ type.description|trans }}
            </a>
        {% endfor %}
    </div>
    {% endblock %}

    {% block footer %}
        <a href="{{ path('tigris_content_admin_element_index') }}" class="btn btn-secondary" data-cancel>{{ 'button.cancel'|trans }}</a>
    {% endblock %}
    {% endembed %}
{% endblock %}