{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}

{% block title %}{{ 'content.element.translate.title'|trans({'%lang%':('locale.' ~ locale)|trans}) }}{% endblock %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block body %}
        <div class="form-group">
            {{ form_label(form.name) }}
            <div class="alert alert-dark">
            <strong>{{ 'content.element.translate.original_content'|trans }}</strong><br/>
            {{ entity.name }}
            </div>
            {{ form_widget(form.name) }}
        </div>

        <div class="form-group">
        {% for dataField in form.data %}
            {{ form_label(dataField) }}
            <div class="alert alert-dark">
            <strong>{{ 'content.element.translate.original_content'|trans }}</strong><br/>
            {{ entity.getData(dataField.vars.name)|raw }}
            </div>
            {{ form_widget(dataField) }}
        {% endfor %}
        </div>
        {% endblock %}
    {% endembed %}
{% endblock %}