{% if edit %}
<image-widget name="{{ name }}" v-model="content.{{ name }}"></image-widget>
{% else %}
{% if data is iterable %}
    <img src="{{ data[name] }}"/>
{% else %}
    <img src="{{ data }}"/>
{% endif %}
{% endif %}