{% if edit %}
<div contenteditable name="{{ name }}" placeholder="--{{ name }}--" v-on:blur="(e) => { content.{{ name }} = e.target.innerText }" class="page-content-widget-simple-text">${ content.{{ name }} }</div>
{% else %}
{% if data is iterable %}
    {{ data[name] }}
{% else %}
    {{ data }}
{% endif %}
{% endif %}