{% if edit %}
<div class="wysiwyg-air">
    <wysiwyg name="{{ name }}" data-name="{{ name }}" :inline="true" v-model="content.{{ name }}" placeholder="{{ 'page.field.text.placeholder'|trans }}"></wysiwyg>
</div>
{% else %}
{% if data is iterable %}
{{ data[name]|raw }}
{% else %}
{{ data|raw }}
{% endif %}
{% endif %}