<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-general-tab" data-bs-toggle="tab" data-bs-toggle="tab" data-target="#nav-general" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">{{ 'page.general'|trans }}</a>
    <a class="nav-item nav-link" id="nav-advanced-tab" data-bs-toggle="tab" data-bs-toggle="tab" data-target="#nav-advanced" href="#nav-advanced" role="tab" aria-controls="nav-advanced" aria-selected="false">{{ 'page.advanced'|trans }}</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade pt-3 show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.public) }}
    {{ form_row(form.menus) }}
    {{ form_row(form.type) }}
    {{ form_row(form.url) }}
    {{ form_row(form.contentType) }}
    {{ form_row(form.template) }}
    {{ form_row(form.parent) }}
  </div>

  <div class="tab-pane fade pt-3" id="nav-advanced" role="tabpanel" aria-labelledby="nav-advanced-tab">
    {{ form_row(form.slug) }}
    {{ form_row(form.arguments) }}
    {{ form_row(form.namePrefix) }}
    {{ form_row(form.accessAuthenticated) }}
    {{ form_row(form.groups) }}
    {{ form_row(form.nofollow) }}
  </div>
</div>