{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/admin/ajax-layout.html.twig'
    : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
{% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
   {% block title %}{{ 'page.content_options.edit'|trans }}{% endblock %}
{% endembed %}
{% endblock %}