{% extends app.request.xmlHttpRequest 
         ? '@TigrisBase/admin/ajax-layout.html.twig'
         : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'page.edit.edit'|trans }}{% endblock %}

        {% block body %}
        {% include '@TigrisContent/admin/page/_form.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}