{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'page.list'|trans }}{% endblock %}
{% block main %}
<tigris-data-list route="tigris_content_admin_page_list" :init-filters='{"search":"", "type":"all", "public":1, "template":"", "menu":""}' v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block header %}
    <button-action v-on:formsaved="loadData()" route="tigris_content_admin_page_new" :modal="true" :route-params="{}" type="success">
        <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'page.add.add'|trans }}
    </button-action>

    <button-action v-on:formsaved="loadData()" route="tigris_content_admin_page_sort" :modal="true" :route-params="{}" type="info">
        <span class="btn-label">{{ '.icon-sort'|parse_icons }}</span> {{ 'page.sort.title'|trans }}
    </button-action>
    {% endblock %}
    {% block body %}
    <form action="" method="get" class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <div class="form-group">
                <label class="form-label"><small>{{ 'page.status.label'|trans }}</small></label>
                <select class="form-control" v-model="filters.public">
                    <option value="">{{ 'page.status.all'|trans }}</option>
                    <option value="1">{{ 'page.status.public'|trans }}</option>
                    <option value="0">{{ 'page.status.non_public'|trans }}</option>
                </select>
            </div>

            <div class="form-group ms-2">
                <label class="form-label"><small>{{ 'page.template.label'|trans }}</small></label>
                <select class="form-control" v-model="filters.template">
                    <option value="">{{ 'page.template.all'|trans }}</option>
                    {% for key, template in templates %}
                    <option value="{{ key }}">{{ template.name|trans }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group ms-2">
                <label class="form-label"><small>{{ 'page.menu.label'|trans }}</small></label>
                <select class="form-control" v-model="filters.menu">
                    <option value="">{{ 'page.menu.all'|trans }}</option>
                    {% for key, menu in menus %}
                    <option value="{{ key }}">{{ menu.name|trans }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label><small>{{ 'results_per_page'|trans }}</small></label>
            <item-count-select></item-count-select>
        </div>
    </form>
    {% endblock %}
    {% block table %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'name'|trans }}</th>
                    <th>{{ 'page.public'|trans }}</th>
                    <th>{{ 'page.template.label'|trans }}</th>
                    <th>{{ 'page.menus'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entity in entities" :key="entity.id" :class="{'table-primary':entity.super_admin}">
                    <td><strong>${ entity.name }</strong></td>
                    <td class="text-light" :class="{'bg-danger': !entity.public, 'bg-success':entity.public}">
                        <span v-if="!entity.public">{{ 'no'|trans }}</span>
                        <span v-if="entity.public">{{ 'yes'|trans }}</span>
                    </td>
                    <td>${entity.templateLabel}</td>
                    <td>
                        <span v-for="menu in entity.menuLabels" class="badge bg-secondary me-2">${menu}</span>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button-action v-on:formsaved="loadData()" route="tigris_content_page_show" :route-params="{slug:entity.slug}" type="primary" title="{{ 'page.edit_content'|trans }}">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                            <button-action v-on:formsaved="loadData()" route="tigris_content_admin_page_edit" :modal="true" :route-params="{id:entity.id}" type="secondary" title="{{ 'page.edit_config'|trans }}">{{ '.icon-cogs'|parse_icons }}</button-action>
                            <button-action v-if="entity.hasContentOptions" v-on:formsaved="loadData()" route="tigris_content_admin_page_contentoptions" :modal="true" :route-params="{id:entity.id}" type="secondary" title="{{ 'page.content_options.edit'|trans }}">{{ '.icon-pen-ruler'|parse_icons }}</button-action>
                            <button-action v-on:formsaved="loadData()" route="tigris_content_admin_page_remove" :modal="true" :route-params="{id:entity.id}" type="danger" v-if="!entity.public" title="{{ 'button.delete'|trans }}">{{ '.icon-trash'|parse_icons }}</button-action>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endblock %}
    {% block footer %}
    <div class="data-list-footer">
        <div><em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em></div>
        <pagination></pagination>
    </div>
    {% endblock %}
{% endembed %}

</tigris-data-list>
{% endblock %}