{% extends app.request.xmlHttpRequest 
         ? '@TigrisBase/admin/ajax-layout.html.twig'
         : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'page.delete.delete'|trans }}{% endblock %}
        {% block body %}
        <p>{{ 'page.delete.message'|trans({'%entity%': entity.name})|raw }}</p>
        {% endblock %}
    {% endembed %}
{% endblock %}